.container {
    width: 1216px;
    height: 62.34rem;
    margin: auto;
    overflow: hidden;
    background-color:#f8f8f869;
}


@media only screen and (max-width: 768px) {
    .container {
     margin: 0 1px;
     font-size: 35px;
    }
}