.hero_container {
  height: 750px;
  display: flex;
  justify-content: space-between;
  margin-top: 3.125rem;
}

.hero_left,
.hero_right {
  width: 38rem;
}

.hero_content {
  width: 29.375rem;
  padding: 5.625rem 0;
}

.hero_title,
.hero_text {
  color: #929a9f;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hero_text {
  margin-top: 0.9375rem;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.hero_btn {
  width: 13.0625rem;
  height: 2.5rem;
  padding: 0px 1rem;
  border: none;
  color: aliceblue;
  background-color: #ff9900;
}
.hero_right {
  background-color: #929a9f2c;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #f7f8fa;
}
