.posts {
  height: 30.5625rem;
}

.post_title {
  width: 30.5rem;
  line-height: 28px;
  color: #929a9f;
  margin: 80px 0 30px 0;
  text-transform: uppercase;
}

.post_information,
.blog_about {
  width: 30.5rem;
  line-height: 1.75rem;
  margin: 1.25rem 0;
  color: #929a9f;
}

.blog_about {
    width: 22.5625rem;
}
.blog_content {
  margin-bottom: 323px;
  display: flex;
  justify-content: space-between;
}

.blog_box {
  width: 22.5625rem;
}

.blog_link {
  color: #ff9900;
}

.footer_container {
  width: 1920px;
  height: 832px;
  margin-left: -359px;
  display: flex;
  justify-content: center;
  background-color: #F5F8FA;
}
