.container {
    width: 1216px;
    height: 86.25rem;
    margin: auto;
    background-color:rgb(206, 206, 9);
}


@media only screen and (max-width: 768px) {
    .container {
     margin: 0 1px;
     font-size: 35px;
    }
}