:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ol,
ul,
li,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer,
header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

input:focus,
button:focus {
  outline: none;
}

input::placeholder {
  font-size: 18px;
  color: #888787;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
